@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  padding: 20px;
  background-color: #ffe599;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5f5b5b; 
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 4em; 
  color: #6c757d;
  text-transform: uppercase;
  letter-spacing: 0.2em; 
  font-weight: bold;
  background: linear-gradient(to right, #198754, #44b786);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #5f5b5b;
  position: relative;
}

.card-body {
  padding: 20px;
}

.category-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}


.tag-ux {
  background-color: #ffecb3;
}

.tag-design {
  background-color: #f5d1d1;
}

.tag-testing {
  background-color: #e6c8f2;
}

.tag-dev-frontend {
  background-color: #a8d5e2;
}

.tag-dev-backend {
  background-color: #c2e5d3;
}

.form-control, .form-select {
  margin-bottom: 10px;
  border-radius: 5px;
  color: #5f5b5b; 
}

.btn {
  border-radius: 5px;
  background-color: #44b786;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.btn-done {
  background-color: #29ADB2; 
  color: white;
}

.btn-remove {
  background-color: #29ADB2; 
  color: white;
}

.btn-remove-task {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
}
.btn:hover {
  background-color: #198754;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.task-column {
  flex: 1;
  padding: 0 10px;
}

.column-header {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #5f5b5b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #5f5b5b; 
}

.option-ux {
  background-color: #ffecb3; 
  color: #5f5b5b;
}

.option-design {
  background-color: #f5d1d1; 
  color: #5f5b5b;
}

.option-testing {
  background-color: #e6c8f2; 
  color: #5f5b5b;
}

.option-dev-frontend {
  background-color: #a8d5e2; 
  color: #5f5b5b;
}

.option-dev-backend {
  background-color: #c2e5d3; 
  color: #5f5b5b;
}

.card-ux {
  background-color: #ffecb3; 
  color: #5f5b5b;
}

.card-design {
  background-color: #f5d1d1; 
  color: #5f5b5b;
}

.card-testing {
  background-color: #e6c8f2; 
  color: #5f5b5b;
}

.card-dev-frontend {
  background-color: #a8d5e2; 
  color: #5f5b5b;
}

.card-dev-backend {
  background-color: #c2e5d3; 
  color: #5f5b5b;
}

.add-task-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px; 
  justify-content: center; 
}

.task-input, .task-category {
  flex: 1;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 38px;
  box-sizing: border-box;
  color: #5f5b5b; 
}

.task-input {
  padding-left: 10px;
}

.task-category {
  padding-left: 10px;
  padding-right: 30px;
}

.add-task-button {
  background-color: #44b786;
  color: white;
  display: flex;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  height: 38px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.add-task-button:hover {
  background-color: #198754;
}

.custom-alert {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f44336; 
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.error-message {
  color: #f44336;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
}
