@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  padding: 20px;
  background-color: #F8F6E3;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #4A4A4A; 
}

.card {
  position: relative;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-control, .form-select {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1em;
}

.btn {
  border-radius: 5px;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #29ADB2; 
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.option-ux {
  background-color: #7FBCD2; 
  color: black;
}

.option-dev-frontend {
  background-color: #A5F1E9; 
  color: black;
}

.option-dev-backend {
  background-color: #E1FFEE;
  color: black;
}

.option-design {
  background-color: #2AB7CA; 
  color: black;
}

.option-testing {
  background-color: #7FBCD2; 
  color: black;
}


.card-ux {
  background-color: #7FBCD2; 
  color: black;
}

.card-dev-frontend {
  background-color: #A5F1E9; 
  color: black;
}

.card-dev-backend {
  background-color: #E1FFEE; 
  color: black;
}

.card-design {
  background-color: #2AB7CA;
  color: black;
}

.card-testing {
  background-color: #7FBCD2; 
  color: black;
}


.btn-done {
  background-color: #29ADB2; 
  color: white;
}

.btn-remove {
  background-color: #29ADB2; 
  color: white;
}

.btn-add-task {
  background-color: #29ADB2; 
  color: white;
}


.btn-remove-task {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
}

.btn-remove-task:hover {
  color: #ffffff; 
}
